<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Registration</title>
</head>
<body>

<form th:action="@{/register/employee}" method="post">
    <div th:object="${employeeRegisterDto}">
        <label>아이디:</label>
        <input type="text" th:field="*{id}" /><br/>

        <label>비밀번호:</label>
        <input type="password" th:field="*{pw}" /><br/>

        <label>이름:</label>
        <input type="text" th:field="*{name}" /><br/>

        <label>전화번호:</label>
        <input type="text" th:field="*{ph}" /><br/>

        <label>이메일:</label>
        <input type="text" th:field="*{email}" /><br/>


        <label>집주소:</label>
        <input type="text" th:field="*{employeeAddr}" /><br/>

        <label>근무희망지역:</label>
        <input type="text" th:field="*{employeeWorkarea}" /><br/>

        <label>경력:</label>
        <input type="text" th:field="*{employeeCareer}" /><br/>
    </div>

    <button type="submit">회원가입</button>
</form>


</body>
</html>
