<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>사장 회원가입</title>
</head>
<body>

<form th:action="@{/register/employer}" method="post">
    <div th:object="${employerRegisterDto}">
        <label>아이디:</label>
        <input type="text" th:field="*{username}" /><br/>

        <label>비밀번호:</label>
        <input type="password" th:field="*{pw}" /><br/>

        <label>이름:</label>
        <input type="text" th:field="*{name}" /><br/>

        <label>전화번호:</label>
        <input type="text" th:field="*{ph}" /><br/>

        <label>이메일:</label>
        <input type="text" th:field="*{email}" /><br/>


        <label>가게이름:</label>
        <input type="text" th:field="*{employerCompname}" /><br/>

    </div>

    <button type="submit">회원가입</button>
</form>


</body>
</html>